/******************************************************
 * Author: Juan Vargas
 * Project: KU Campus Exchange
 * File: styleHP.css
 * Description: Stylesheet for our HomePage
 ******************************************************/
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(182, 162, 104), rgb(112, 25, 49));
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.KU_logo {
    width: 200px;
    min-height: 20px;
}

/* Buttons */
.signin_login {
    gap: 30px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

button {
    width: 160px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    background: #ffffff;
    color: #701931;
}

/* Button Styling */
button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/* Tagline */
.tagline {
    font-size: 20px;
    margin: 10px 20px;
}

/* Why us section */
.why_us {
    margin-bottom: 40px;
}

.why_us ul {
    list-style: none;
    padding: 0;
}

.why_us li {
    margin: 8px;
}

/* Footer */
footer {
    font-size: 14px;
}
